<div class="row">
  <div class="col-lg-7 col-lg-offset-2">
    <table class="table">
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Deposit</th>
          <th>Card</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="account in accounts">
          <td>{{$index + 1}}</td>
          <td>{{account.name}}</td>
          <td>{{account.deposit}}</td>
          <td>{{account.card}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-lg-3">
    <button class="btn btn-primary">Admin Panel</button>
    <button id="logOut" ng-click="logOut()" class="btn btn-default">Log Out</button>
  </div>
</div>
