<div class="row">
  <div class="col-lg-4 col-lg-offset-4">
    <input type="text" ng-model="name" placeholder="name" class="form-control"><br>
    <input type="text" ng-model="deposit" placeholder="deposit" class="form-control"><br>
    <input type="text" ng-model="card" placeholder="card" class="form-control"><br>
    <button type="button" name="button" class="btn btn-primary form-control" ng-click="addUser()">Add User</button>
  </div>
  <div class="col-lg-3 col-lg-offset-1">
    <a type="button" class="btn btn-primary">Admin Panel</a>
    <button id="logOut" ng-click="logOut()" class="btn btn-default">Log Out</button>
  </div>
</div>
